* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculator {
  background-color: yellowgreen;
  padding: 10px;
}

.textView {
  width: 215px;
  font-size: 22px;
  font-weight: bold;
  padding: 5px;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 22px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.button:active {
  background-color: black;
  color: white;
}

.equal {
  height: 110px;
}
.equal:active {
  background-color: black;
  color: white;
  transition: 0.5s;
}
.zero {
  width: 110px;
}
